<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="/javascripts/particlejs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{{body}}}
</body>
</html>
